*{
  margin:0.5vw;
  padding:0;
  font-family: arial;
  font-size: 1vw;
}
#personal-information{
  display: flex;
  padding: 2vh 0 2vh 0;
}

hr{
  margin:0;
}

#photo img{
  width: 7vw;
  margin-left: 1vw;
}

#data{
  margin-top: 4vh;
}

#data p{
  font-size: 1.1vw;
  text-align: left;
}

pre{
  width: fit-content;
  text-align: justify;
}

#education{
  margin: 2vh 0 2vh 0;
}

#work-experience{
  margin: 2vh 0 2vh 0;
}

#awards{
  margin: 2vh 0 2vh 0;
}

footer{
  width: 40vw;
  height: 7vh;
  margin:-1vw;
  display: flex;
  margin-top: 5vh;
  background-color: #f5ebe0;
  align-items:center;
}

footer a, p{
  text-align: center;
  margin-left: 5vw;
}

footer a{
  width: 10vw;
  color: blue;
}

footer p{
  width: 15vw;
}